<div class="d-flex flex-row justify-content-right">
  <div class="p-3">

    <label for="treemap-datasets"><b>Choose a dataset:</b> </label>
    <select  class="form-control" id="treemap-datasets" [(ngModel)]="selectedIndex" (ngModelChange)="update_to_new_chart($event)">
      <option *ngFor="let c of Index;let i = index" [value]="i"> {{c.display_name}} </option>
    </select>
</div>
<div class="p-3">
    <label *ngIf="isLoaded" for="treemap-layouts"><b>Choose a layout:</b> </label>
    <select *ngIf="isLoaded" class="form-control" id="treemap-layouts" [(ngModel)]="selectedLayoutIndex"
      (ngModelChange)="update_to_new_layout($event)">
      <option *ngFor="let c of Layouts;let i = index" [value]="i"> {{c.DisplayName}} </option>
    </select>
  </div>
  <div class="p-3">
  <label *ngIf="isLoaded" for="treemap-description"><b> Dataset description: </b> </label>
  <div id="treemap-description" class="card card-body" *ngIf="isLoaded">
    {{Index[selectedIndex].description}}
  </div>
  </div>
</div>




<div>

  <div width="100vw" height="50vh">

    <svg id="window" [attr.width]="svg_width" [attr.height]="svg_height">
      <g></g>

    </svg>

  </div>

  <div *ngIf="!isLoaded" class="d-flex justify-content-center">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only"></span>
    </div>
  </div>

  <div *ngIf="isLoaded" class="justify-content-center" style="display: flex; align-content: center;">
    <div class="d-flex flex-column justify-content-center">
      <label for="customRange3" class="form-label" style="position: absolute;">Year: {{timesteps[index_time]}}</label>
      <input type="range" class="form-range" style="padding-left: 100px; width: 50vw; padding-right: 50px;" [min]="0"
        [max]="timesteps.length-1" [step]="1" [value]="index_time" id="customRange3" oninput=""
        (input)="update_index_time($event);">
    </div>
    <div class="d-flex flex-row justify-content-right">
      <div class="p-3">
        <button (click)="start()" type="button" class="btn btn-success">Play</button>
      </div>
      <div class="p-3">
        <button (click)="pause()" type="button" class="btn btn-danger">Pause</button>
      </div>
      <div class="p-3">
        <button (click)="reset_view()" type="button" class="btn btn-primary">Reset</button>
      </div>

      <div>
        <label for="typeNumber">Duration of transition (ms)</label>
        <input min="500" max="9000" step="500" type="number" id="typeNumber" [readOnly]="this.playing"
          class="form-control" [(ngModel)]="this.animation_duration" />


      </div>
    </div>
  </div>




  <div class="d-flex flex-column justify-content-center" *ngFor="let element of changelog_display">
    <c-alert style="height: 15px;" [color]="element.color" dismissible="false">{{element.message}}</c-alert>
  </div>
</div>
